.DS_Store

admin/application/cache/*
!admin/application/cache/index.html

admin/application/logs/*
!admin/application/logs/index.html

!admin/application/*/.htaccess

admin/application/config/config.php
admin/application/config/database.php

assets/images/menu/*
assets/images/profile/*
assets/images/category/*

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
.env